@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Merienda&display=swap');



body{
    width: 67%;
    margin: auto;
    background-image: linear-gradient(to right, #8ceaf3e8, #EDD2B3);
    
    
}
header{
    
    text-align: center;
    color: #99258E;
    
    font: 2em 'Chango', cursive;
}

section{
    background-color: white ;
    padding: 1.5%;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.356);
    font-family: sans-serif;
}

h2{
    color: #00DFE6;
    margin-top: 0.5%;
    font-size: 1.8em;
    font-family: 'Verdana', cursive, 'sans-serif';
}
p{  color: #575235;
    font-size: 1.5em;
}
label{  color: #575235;
    font-size: 1em;
}
select{
    width: auto;
}
#lista{
    width: 150px;

}
input{
    padding: 3px 11px 3px 11px;
   /* font-family: 'Merienda', cursive;
    font-size: .56em; */
    font: normal .56em 'Merienda', cursive;
    border-radius: 5px;
           
}

.button{
    border-top: none;
    border-left: none;
    background: none;
    font-weight: bolder;
}

.button:hover{
background: #00DFE6 ;
color: white;
transition: .3s;
cursor: pointer;
}
.button:active{
    background: #9b925f;
    }


#nac{
width: 180px;
}


footer{
    text-align: center;
    font-style: italic;
}

